h1 {
  font-family: verdana;
  z-index: -1;
  text-align: left;
}
p {
  font-family: verdana;
  text-align: left;
  z-index: -1;
  width: 600px;
  line-height: 1.8;
  padding-top: 6px;
}
ul {
  font-family: verdana;
  font-size: 17px;
  text-align: left;
  z-index: -1;
  width: 600px;
  line-height: 1.8;
}
