.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.smalltext {
  font-size: 0.8em!important;
}

body {
    margin: 60px auto;
    width: 70%;
    font-family: Verdana;
}
nav ul, footer ul {
    font-family:Verdana;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 1.5em;
    font-family:Verdana;
}
p {
    font-size: 0.9em;
    line-height: 1.3em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1em;
    line-height: 2em;
}

ul.posts li {
    list-style: none;
}
