body {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  height: auto;
  max-width: 70%
}

.sidenav-content {
  list-style-type: none;
  margin-top: 26em;
}
.sidenav {
  height: 100%;
  width: 20em;
  background-color: #f7aab3;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.sidenav a:hover {
  color: #e2294f;
}
.sidenav a.active {
  color: #59ffa0;
}

.sidenav-content a {
  font-size: 1.2em;
  display: block;
  color: white;
  text-decoration: none;
  overflow: hidden;
  text-align: center;
}

.sidenav-content h1 {
  font-size: 2em;
  color: white;
  text-decoration: none;
  overflow: hidden;
  text-align: center;
}

.sidenav-content footer {
  text-align: center;
  font-size: 0.8em;
  margin-top: 12em;
  color: white;
}

.main-body {
  margin-top: 6em;
  margin-left: 6em;
}

.main-body h1 {
  font-size: 24px;
  display: block;
  color: black;
  text-decoration: none;
  text-align: left;
}
