@media screen and (max-width: 700px) {
  #profileicon {
    display: none;
  }
  div.sidenav {
    width: 100%;
    height: 6.5em;
    position: relative;
    box-shadow: none;
    overflow-y: hidden;
  }
  div.sidenav-content {margin-top: 0;}
  div.sidenav-content a, footer {display: none;}
  .navmenubtn {display: none;}

  div.sidenav-content h1 {
    font-size: 1.5em;
    margin-top: 1.5em;
  }

  div.mobilenav {
    display: block;
  }

  div.main-body {
    font-size: 70%;
    margin-left: 0;
    margin-top: 2em;
    width: 90%;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}

@media screen and (max-width: 400px) {

  .sidenav-content {
    text-align: center;
    float: none;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  height: auto;
}

.navmenubtn {
  font-size: 2em;
  float:right;
  margin-right: 0.4em;
  margin-top: 0.3em;
  color: white;
  text-decoration: none;
}

#profileicon {
  align-content: center;
  border-radius: 50%;
  height: auto;
  width: auto;
  max-width: 11em;
  box-shadow: 2px 2px 5px #d4abc5;
}

.sidenav-content {
  list-style-type: none;
  margin-top: 6em;
  text-align: center;
  flex-grow: 1;
}

.sidenav {
  height: 100%;
  width: 20em;
  background-color: #f7aab3;
  overflow-x: hidden;
  position: fixed;
  z-index: 1;
  transition: margin-left .5s;
  box-shadow: 5px 10px 5px #d4abc1;
}

.body-contents a:hover {
  color: #e2294f !important;
}

.sidenav-content a {
  font-size: 1.2em;
  display: block;
  color: white;
  text-decoration: none;
  overflow: hidden;
  margin-top: 0.5em;
  width: 30%;
  margin-left: 5.6em;
}

.sidenav-content h1 {
  font-size: 2em;
  color: white;
  text-decoration: none;
  overflow: hidden;
}

.sidenav-content footer {
  text-align: center;
  font-size: 0.8em;
  margin-top: 12em;
  color: white;
  padding-bottom: 30px;
  margin-left: 2em;
}

.mobilenav {
  display: none;
  z-index: 3;
  top: 1.5em;
  position: absolute;
}

.mobilenav a {
  text-decoration: none;
  margin-left: 50px;
  font-size: 2em;
  color: white;
  z-index: 4;
}

.drop-cont {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.drop-cont a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin: 0;
  font-size: 1em;
}

.show {display:block;}

.main-body {
  margin-top: 3em;
  position: absolute;
  margin-left: 24em;
  background-color: white;
  width: 70%;
  padding: 20px;
  padding-bottom: 50px;
  font-size: 0.9em;
}

.main-body h1 {
  font-size: 24px;
  display: block;
  color: black;
  text-decoration: none;
  text-align: left;
}
