<!DOCTYPE html>
<html>
<html lang="en">
  <head>
  	<meta charset="utf-8"/>
	  <title>{{ page.title }}</title>
	  <link rel="stylesheet" type="text/css" href="/resources/main.css"> <!-- edit later-->
    <link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Montserrat">
    <script type="text/javascript" src="/resources/collapsiblenav.js"></script>
	  <link rel="icon" href="" type="image/gif" sizes="32x32">
  </head>

<body>
    <div class="sidenav" id="sidebar">
      <a href="javascript:void(0)" class="navmenubtn" onclick="togNav()">&#9776;</a>
      <div class="profileicon">
        <a href="/resources/test.png"></a>
      </div>
      <div class="sidenav-content" id="sidenavcontent">
        <h1>{{ page.title }}</h1> <br>
        <a href="/index.html">Home</a> <br>
        <a href="/resources/about.html">About</a><br>
        <a href="/tls">Archives</a>
        <footer>
          <h2>Contact</h2>
        	<a href="https://twitter.com/_kkumakuma">twitter</a>
          <a href="https://github.com/kkumakuma">github</a>
    		</footer>
      </div>
    </div>

		<div class="main-body" id="main">
      <h1>{{ page.title }}</h1>
      {{ content }}
		</div>

</body>

</html>
