<!DOCTYPE html>
<html>
<html lang="en">
  <head>
  	<meta charset="utf-8"/>
	  <title>{{ page.title }}</title>
	  <link rel="stylesheet" type="text/css" href="/css/main.css>
	  <link rel="icon" href="" type="image/gif" sizes="32x32">
  </head>

<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/enstarsTLs">Ensemble Stars</a></li>
            <li><a href="/books">Books</a></li>
    		</ul>
		</nav>
		<div class="container">
        {{ content }}
		</div>
		<footer>
    		<ul>
        		<li><a href="https://twitter.com/_kkumakuma">twitter</a></li>
        		<li><a href="https://github.com/kkumakuma">github.com/kkumakuma</a></li>
			</ul>
		</footer>
	</body>
</html>
